@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* Shared Styles */

.display-flex {
    display: flex;
}

.color1 {
    color: orange;
}

.color2 {
    color: skyblue;
}

.color3 {
    color: #05D4DF;
}

.color4 {
    color: #5D58EF;
}

.color5 {
    color: #64C8FF;
}

.color6 {
    color: #F0AA00;
}

.color7 {
    color: #8700FF;
}

.color8 {
    background-color: #3CD8E8;
}

.color9 {
    background-color: #95B226;
}

.color10 {
    background-color: #5D58F0;
}

.font-color-white {
    color: #FFFFFF;
}

/* font weight bold */

.font-weight-bold {
    font-weight: bold;
}

/* Navbar styles */

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}

.nav-item {
    list-style: none;
    margin-right: 32px;
}

.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}

.logo {
    gap: 11px;
    align-items: center;
}

.logo-title {
    font-size: 2rem;
}

.contact-button {
    background-color: orange;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 60.5px;
    border: none;
    border-radius: 12px;
}

.div-1 {
    display: none;
}

/* banner styles */

.banner {
    align-items: center;
    gap: 3.125rem;
}

.banner-title {
    font-size: 3.5rem;
    font-weight: bold;
}

.banner-description {
    font-size: 1.25rem;
    font-weight: 400;
}

.banner-button {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1.6rem 3rem;
    background-color: black;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
}


/* Main content
main , .stories, .curriculum{
    max-width: 1440px;
    margin: 0 auto;
} */

/* Standard Curriculum styles */

.curriculum {
    background-image: url(/assets/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.section-title {
    text-align: center;
    font-size: 2.875rem;
    color: #000000;
    margin-bottom: 5rem;
}

.card-container {
    text-align: center;
    gap: 1.75rem;
}

.card1{
    background: linear-gradient(to bottom, rgba(222, 245, 255, 1) 0%, rgba(255, 255, 255, 0) 40%);
    border-radius: 18px;
    padding: 2.5rem;
    box-shadow: 1px 2px 1px 2px rgba(222, 245, 255, 1);
}

.card2{
    background: linear-gradient(to bottom, rgba(255, 244, 220, 1) 0%, rgba(255, 255, 255, 0) 40%);
    border-radius: 18px;
    padding: 2.5rem;
    box-shadow: 1px 2px 1px 2px rgba(255, 244, 220, 1);
}

.card3{
    background: linear-gradient(to bottom, rgba(238, 225, 255, 1) 0%, rgba(255, 255, 255, 0) 40%);
    border-radius: 18px;
    padding: 2.5rem;
    box-shadow: 1px 2px 1px 2px rgba(238, 225, 255, 1);
}

.card-title {
    font-size: 1.5rem;
}

.card-description {
    font-size: 1rem;
    font-weight: 500;
    color: rgba(128, 128, 128, 1);
}

.card-footer {
    font-size: 1rem;
}

.icon {
    margin-top: 80px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
}

.icon1, .icon2 {
    line-height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: orange;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5rem;
}


/* Stories Styles */

.stories {
    background-image: url(/assets/bg.png) , linear-gradient(to top, rgba(254, 163, 1, 0.3) 0%, rgba(255, 255, 255, 1) 100%);
    background-repeat: no-repeat;
    background-position: center;
}

.stories-title {
    font-size: 2.875rem;
    color: #000000;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 80px;
}

.stories-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: repeat(2,1fr);
    column-gap: 19px;
    row-gap: 19px;
}

.story1 {
    grid-row: 1/3;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border: 2px solid red;
    border-radius: 20px;
    border: none;
}


.story {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #FFFFFF;
    border: 1px solid blue;
    border-radius: 20px;
    border: none;
}

.story>img , .story1>img {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.story-title {
    color: #000000;
    font-size: 1rem;
    text-align: center;
    padding: 10px;
}

.story-title1 {
    color: #000000;
    font-size: 1.5rem;
    padding: 58.63px 38.5px 40px 38.5px;
}


.story-description {
    color: #666666;
    font-size: 1rem;
    font-weight: 500;
    padding: 0 38.5px;
}

.story-button {
    width: 10.5rem;
    height: 2rem;
    border-radius: 1rem;
    border: none;
    color: #FFFFFF;
    font-size: 1rem;
    font-weight: 500;
    position: relative;
    left: 35px;
    bottom: 15px;
}

.view {
    padding-top: 80px;
    padding-bottom: 60px;
    text-align: center;
}

.view-button {
    padding: 10px 61px;
    font-size: 1.5rem;
    color: #FFFFFF;
    background-color: black;
    border: none;
    border-radius: 10px;
}

.curriculum-wrap, .stories-wrap {
    max-width: 1440px;
    margin: 0 auto;
}

/* Footer styles */

footer {
    background-color: #01ACFD;
}

.footer {
    max-width: 1440px;
    margin: 0 auto;
}

.footer-container {
    display: grid;
    grid-template-columns: 2fr 1.5fr 2fr;
    column-gap: 70px;
}

.section1 {
    display: flex;
    flex-direction: column;
}

.section-content {
    align-items: center;
    gap: 10px;
}

.content-description {
    font-weight: 400;
    font-size: 1rem;
}

.section-title {
    font-size: 2.625rem;
}

.section2 {
    display: flex;
    flex-direction: column;
}

.section3 {
    text-align: center;
}
.section3 >h3 {
    font-size: 1.625rem;
}

.li1 {
    font-size: 1.5rem;
}

.li2 {
    font-size: 1.25rem;
    font-weight: 500;
}

/* Marquee tag */

.mq {
    position: sticky;
    background-color: khaki;
}

.mq> div {
    font-size: 1.5rem;
    font-weight: 700;
}

@media screen and (max-width:576px) {

    .contact , .nav-links , .logo-title {
        display: none;
    }

    .div-1 {
        display: inline-block;
    }

    .navbar {
        border-bottom: 1px solid orange;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner-container {
        text-align: center;
    }

    .card-container {
        flex-direction: column;
    }

    .icon {
        display: none;
    }

    .stories-container {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    }

    .story1 {
        display: none;
    }

    .footer-container {
        display: grid;
        display: flex;
        flex-direction: column;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,1fr);
        align-items: flex-start;
        padding: 50px 15px;
    }
}


