@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* Shared Styles */

.display-flex {
    display: flex;
}

.color1 {
    color: orange;
}

.color2 {
    color: skyblue;
}

.color3 {
    color: #05D4DF;
}

.color4 {
    color: #5D58EF;
}

.color5 {
    color: skyblue;
}

/* font weight bold */

.font-weight-bold {
    font-weight: bold;
}

/* Navbar styles */

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}

.nav-item {
    list-style: none;
    margin-right: 32px;
}

.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}

.logo {
    gap: 11px;
    align-items: center;
}

.logo-title {
    font-size: 2rem;
}

.contact-button {
    background-color: orange;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 60.5px;
    border: none;
    border-radius: 12px;
}

.div-1 {
    display: none;
}

/* banner styles */

.banner {
    align-items: center;
    gap: 50px;
}

.banner-title {
    font-size: 3.5rem;
    font-weight: bold;
}

.banner-description {
    font-size: 1.25rem;
    font-weight: 400;
}

.banner-button {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1.6rem 3rem;
    background-color: black;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
}

@media screen and (max-width:576px) {

    .contact , .nav-links , .logo-title {
        display: none;
    }

    .div-1 {
        display: inline-block;
    }

    .navbar {
        border-bottom: 1px solid orange;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner-container {
        text-align: center;
    }
}


