@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: white;
}


/* Shared Styles */

.display-flex {
    display: flex;
}

.color1 {
    color: orange;
}

.color2 {
    color: skyblue;
}

.color3 {
    color: #05D4DF;
}

.color4 {
    color: #5D58EF;
}

.color5 {
    color: #64C8FF;
}

.color6 {
    color: #F0AA00;
}

.color7 {
    color: #8700FF;
}

/* font weight bold */

.font-weight-bold {
    font-weight: bold;
}

/* Navbar styles */

.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-link {
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 500;
}

.nav-item {
    list-style: none;
    margin-right: 32px;
}

.navbar, .banner {
    max-width: 1440px;
    margin: 0 auto;
}

.logo {
    gap: 11px;
    align-items: center;
}

.logo-title {
    font-size: 2rem;
}

.contact-button {
    background-color: orange;
    color: #FFFFFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 10px 60.5px;
    border: none;
    border-radius: 12px;
}

.div-1 {
    display: none;
}

/* banner styles */

.banner {
    align-items: center;
    gap: 3.125rem;
}

.banner-title {
    font-size: 3.5rem;
    font-weight: bold;
}

.banner-description {
    font-size: 1.25rem;
    font-weight: 400;
}

.banner-button {
    font-size: 1.25rem;
    font-weight: bold;
    padding: 1.6rem 3rem;
    background-color: black;
    color: #FFFFFF;
    border: none;
    border-radius: 12px;
}

/* .img1 {
    width: 100%;
} */
/* Main content */
main {
    max-width: 1440px;
    margin: 0 auto;
}

/* Standard Curriculum styles */

.curriculum {
    background-image: url(/assets/bg.png);
}

.section-title {
    text-align: center;
    font-size: 2.875rem;
    color: #000000;
    margin-bottom: 5rem;
}

.card-container {
    text-align: center;
    gap: 1.75rem;
}

.card1{
    background: linear-gradient(to bottom, rgba(222, 245, 255, 1) 0%, rgba(255, 255, 255, 0) 40%);
    border-radius: 18px;
    padding: 2.5rem;
    box-shadow: 1px 2px 1px 2px rgba(222, 245, 255, 1);
}

.card2{
    background: linear-gradient(to bottom, rgba(255, 244, 220, 1) 0%, rgba(255, 255, 255, 0) 40%);
    border-radius: 18px;
    padding: 2.5rem;
    box-shadow: 1px 2px 1px 2px rgba(255, 244, 220, 1);
}

.card3{
    background: linear-gradient(to bottom, rgba(238, 225, 255, 1) 0%, rgba(255, 255, 255, 0) 40%);
    border-radius: 18px;
    padding: 2.5rem;
    box-shadow: 1px 2px 1px 2px rgba(238, 225, 255, 1);
}

.card-title {
    font-size: 1.5rem;
}

.card-description {
    font-size: 1rem;
    font-weight: 500;
    color: rgba(128, 128, 128, 1);
}

.card-footer {
    font-size: 1rem;
}

.icon {
    margin-top: 80px;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.icon1, .icon2 {
    line-height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: orange;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5rem;
}


@media screen and (max-width:576px) {

    .contact , .nav-links , .logo-title {
        display: none;
    }

    .div-1 {
        display: inline-block;
    }

    .navbar {
        border-bottom: 1px solid orange;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .banner-container {
        text-align: center;
    }

    .card-container {
        flex-direction: column;
    }

    .icon {
        display: none;
    }
}


